.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1; }

.search-header {
  display: inline-block; }

.search-input-container {
  position: relative; }

.clearinput {
  position: absolute;
  top: 5px;
  right: 10px;
  line-height: .8;
  color: #444 !important;
  display: block;
  display: none;
  cursor: pointer; }

#search-result {
  position: absolute;
  top: 40px;
  right: 0;
  height: auto;
  z-index: 999;
  background: #171f26;
  box-shadow: 5px 5px 10px #444;
  width: 50%; }

ul.search-result-list {
  list-style: none;
  margin: 0 5px;
  padding: 10px 25px;
  color: #FFFFFF;
  opacity: .7;
  font-size: 15px; }
  ul.search-result-list li {
    margin-bottom: 15px;
    border-bottom: 1px dashed #ddd;
    padding: 0 0 5px 0; }

p.search-result {
  font-size: small;
  padding: 1px 0;
  margin: 0; }

a.search-result-title {
  font-weight: bold; }

.search-keyword {
  border-bottom: 1px dashed #c66;
  color: #c66;
  font-weight: bold; }

#no-result {
  color: #ccc;
  margin: auto; }

#search-input {
  line-height: 1.8;
  padding: 0 10px;
  border-radius: 20px;
  outline: none; }
